<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.austry.content_provider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity android:name="com.austry.content_provider.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.austry.artistsProvider"
            android:name="com.austry.content_provider.ArtistsProvider"
            android:exported="true"/>

    </application>



</manifest>
